<!DOCTYPE HTML>
<html>
    <head>
        <title>Workers</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://unpkg.com/vue@v2"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
        <link rel="stylesheet" href="/css/modal.css">
        <link rel="stylesheet" href="/css/table.css">
        <link rel="stylesheet" href="/css/addItemForm.css">
        <link rel="stylesheet" href="/css/tabs.css">
    </head>
    <body>
        <div id="workers"></div>
        <script type="module" src="/js/workers.js"></script>
    </body>
</html>